<h3 style="padding: 10px;">Tela de Usuario</h3>
<form style="padding: 10px;" #formValidate="ngForm">
    <div class="form-row">
        <div class="form-group col-md-1">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id" readonly="true" autocomplete="false"
                [(ngModel)]="usuario.id">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="nome">Nome</label>
            <span style="color: red; font-size: 14px;" *ngIf="nomeValidate.invalid"> *</span>
            <input type="text" class="form-control" id="nome" required="true" name="nome" autocomplete="false"
                [(ngModel)]="usuario.nome" #nomeValidate="ngModel">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="login">Login</label>
            <span style="color: red; font-size: 14px;" *ngIf="loginValidate.invalid"> *</span>
            <input type="text" class="form-control" id="login" required="true" name="login" autocomplete="false"
                [(ngModel)]="usuario.login" #loginValidate="ngModel">
        </div>
        <div class="form-group col-md-6">
            <label for="senha">Senha</label>
            <span style="color: red; font-size: 14px;" *ngIf="senhaValidate.invalid"> *</span>
            <input type="password" class="form-control" id="senha" required="true" name="senha" autocomplete="false"
                [(ngModel)]="usuario.senha" #senhaValidate="ngModel">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="dataNascimento">Data Nascimento</label>
            <span style="color: red; font-size: 14px;"> *</span>
            <input type="text" class="form-control" id="dataNascimento" required="true" name="dataNascimento"
            placeholder="dd/MM/yyyy" ngbDatepicker #dataNascimento="ngbDatepicker"
            [(ngModel)]="usuario.dataNascimento" (click)="dataNascimento.toggle()">
            <!-- <div class="input-group-append"> -->
                <!-- <button class="btn btn-primary" (click)="dataNascimento.toggle()" type="button"></button> -->
            <!-- </div>     -->
        </div>
    </div>

    <div class="card text-center">
        <div class="card-header">
            Telefone de Contato
        </div>

        <div class="card-body" style="padding-left: 1px;">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <!-- <input type="text" mask="(00) 000000000" class="form-control" [(ngModel)]="telefone.numero" id="numero" name="numero">   -->
                    <input type="text" class="form-control" [(ngModel)]="telefone.numero" id="numero" name="numero">
                </div>

                <div class="form-group col-md-2">
                    <button class="btn btn-primary" (click)="addFone()">Adicionar</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <tbody>
            <tr *ngFor="let fone of usuario.telefones; let i = index">
                <td>{{fone.id}}</td>
                <!-- <td>{{fone.numero | mask:'(00) 000000000'}}</td> -->
                <td>{{fone.numero}}</td>
                <td><button class="btn btn-danger" (click)="deletarTelefone(fone.id, i)">Delete</button></td>
            </tr>
        </tbody>
    </table>

    <div class="form-row">
        <div class="form-group col-md-6">
            <button type="button" class="btn btn-primary" [routerLink]="['/userList']"
                routerLinkActive="router-link-active">Voltar</button>
            <button type="button" class="btn btn-primary" style="margin-left: 10px;" (click)="novo()">Novo</button>
            <button type="button" class="btn btn-primary" style="margin-left: 10px;" (click)="salvarUser()"
                [disabled]="formValidate.invalid">Salvar</button>
        </div>
    </div>
</form>